.visuallyHidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  white-space: nowrap;
  border: 0;
}

.field {
  position: relative;
}

.fieldPassword {
  position: relative;
  display: flex;
  align-items: center;
  margin-bottom: 32px;
}

.inputPwd {
  background-color: transparent;
  border: 1px solid var(--color-input-normal);
  border-radius: 15px;
  padding: 16px 50px 16px 18px;
  width: 343px;
  height: 56px;
  box-sizing: border-box;
  transition: border-color 0.3s, box-shadow 0.3s;
  color: var(--color-dark);
}

/* Hover & focus */
.inputPwd:hover,
.inputPwd:focus {
  border-color: var(--color-input-hover);
  outline: none;
  box-shadow: 0 0 0 2px rgba(133, 170, 159, 0.2);
}

/* Error */
.inputPwd.error {
  border-color: var(--color-input-error);
  box-shadow: 0 0 0 2px rgba(216, 0, 39, 0.2);
}

/* Autofill */
.inputPwd:-webkit-autofill,
.inputPwd:-webkit-autofill:hover,
.inputPwd:-webkit-autofill:focus,
.inputPwd:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 1000px var(--bg-header-table) inset !important;
  -webkit-text-fill-color: var(--color-dark) !important;
  caret-color: var(--color-dark) !important;
  border: 1px solid var(--color-input-normal) !important;
  background-color: transparent !important;
}

.inputPwd:-moz-autofill,
.inputPwd:-moz-autofill:hover,
.inputPwd:-moz-autofill:focus,
.inputPwd:-moz-autofill:active {
  box-shadow: 0 0 0 1000px var(--bg-header-table) inset !important;
  -moz-text-fill-color: var(--color-dark) !important;
  caret-color: var(--color-dark) !important;
  background-color: transparent !important;
}

/* Toggle button */
.toggleButton {
  position: absolute;
  right: 18px;
  width: 20px;
  height: 20px;
  background: none;
  border: none;
  cursor: pointer;
  font-size: 18px;
}

.icon {
  width: 20px;
  height: 20px;
  stroke: var(--color-dark);
  fill: transparent;
}
.fieldError {
  display: flex;
  align-items: center;
  gap: 4px;
  position: absolute;
  top: 55px;
  left: 0;
  color: var(--color-input-error);
  font-size: 12px;
}

.successMessage {
  display: flex;
  align-items: center;
  gap: 4px;
  position: absolute;
  top: 55px;
  left: 0;
  color: var(--color-input-correct);
  font-size: 14px;
}

.iconMessage {
  width: 16px;
  height: 16px;
  stroke: currentColor;
}

@media screen and (min-width: 768px) {
  .inputPwd {
    width: 500px;
  }
}
