.headerDesktop {
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: var(--color-white);
}

.headerContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.navWrapper {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  gap: 32px;
}
