/* Regular (400) */
@font-face {
  font-family: "MacPaw Fixel Display";
  src: url("../assets/fonts/FixelDisplay-Regular.woff2") format("woff2"),
    url("../assets/fonts/FixelDisplay-Regular.woff") format("woff"),
    url("../assets/fonts/FixelDisplay-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

/* Medium (500) */
@font-face {
  font-family: "MacPaw Fixel Display";
  src: url("../assets/fonts/FixelDisplay-Medium.woff2") format("woff2"),
    url("../assets/fonts/FixelDisplay-Medium.woff") format("woff"),
    url("../assets/fonts/FixelDisplay-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

/* SemiBold (600) */
@font-face {
  font-family: "MacPaw Fixel Display";
  src: url("../assets/fonts/FixelDisplay-SemiBold.woff2") format("woff2"),
    url("../assets/fonts/FixelDisplay-SemiBold.woff") format("woff"),
    url("../assets/fonts/FixelDisplay-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

:root {
  --color-dark: #121417;
  --color-green: #85aa9f;
  --color-normal-grey: #f8f8f8;
  --color-light-grey: #fcfcfc;
  --color-white: #ffffff;
}
/* Basse */

*,
*::after,
*::before {
  box-sizing: border-box; /* контент та падінги додаються всередині бордера*/
}

body {
  font-family: "MacPaw Fixel Display", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: var(--color-dark);
  background-color: var(--color-normal-grey);
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

ul {
  list-style-type: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

button {
  cursor: pointer;
}

address {
  font-style: normal;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* 320px — гумова */
.container {
  width: 100%;
  padding: 0 16px;
  margin: 0 auto;
}

@media screen and (min-width: 375px) {
  .container {
    max-width: 375px;
    padding: 0 16px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
    padding: 0 32px;
  }
}
@media screen and (min-width: 1440px) {
  .container {
    max-width: 1440px;
    padding: 0 100px;
  }
}
