@font-face {
  font-display: swap;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/montserrat-v29-latin-regular.eot");
  src: url("../fonts/montserrat-v29-latin-regular.eot?#iefix")
      format("embedded-opentype"),
    url("../fonts/montserrat-v29-latin-regular.woff2") format("woff2"),
    url("../fonts/montserrat-v29-latin-regular.woff") format("woff"),
    url("../fonts/montserrat-v29-latin-regular.ttf") format("truetype"),
    url("../fonts/montserrat-v29-latin-regular.svg#Montserrat") format("svg");
}
@font-face {
  font-display: swap;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/montserrat-v29-latin-500.eot");
  src: url("../fonts/montserrat-v29-latin-500.eot?#iefix")
      format("embedded-opentype"),
    url("../fonts/montserrat-v29-latin-500.woff2") format("woff2"),
    url("../fonts/montserrat-v29-latin-500.woff") format("woff"),
    url("../fonts/montserrat-v29-latin-500.ttf") format("truetype"),
    url("../fonts/montserrat-v29-latin-500.svg#Montserrat") format("svg");
}
@font-face {
  font-display: swap;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  src: url("../fonts/montserrat-v29-latin-600.eot");
  src: url("../fonts/montserrat-v29-latin-600.eot?#iefix")
      format("embedded-opentype"),
    url("../fonts/montserrat-v29-latin-600.woff2") format("woff2"),
    url("../fonts/montserrat-v29-latin-600.woff") format("woff"),
    url("../fonts/montserrat-v29-latin-600.ttf") format("truetype"),
    url("../fonts/montserrat-v29-latin-600.svg#Montserrat") format("svg");
}

@font-face {
  font-display: swap;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/montserrat-v29-latin-700.eot");
  src: url("../fonts/montserrat-v29-latin-700.eot?#iefix")
      format("embedded-opentype"),
    url("../fonts/montserrat-v29-latin-700.woff2") format("woff2"),
    url("../fonts/montserrat-v29-latin-700.woff") format("woff"),
    url("../fonts/montserrat-v29-latin-700.ttf") format("truetype"),
    url("../fonts/montserrat-v29-latin-700.svg#Montserrat") format("svg");
}

:root {
  --color-primeri-darck: #111;
  --color-primeri-normal: #1e1823;
  --color-primeri-orange: #fd9222;
  --color-pink: #fcf1e0;
  --color-light: #fafafa;
  --color-white: #ffffff;
  --color-marker-darck: #4c4c4c;
  --color-marker-light: #eceded;
  --color-icon-modal: #404040;
  --color-icon-play: #f5f4f4;
  --color-placeholder: rgba(64, 64, 64, 0.3);
}
/* Basse */

*,
*::after,
*::before {
  box-sizing: border-box; /* контент та падінги додаються всередині бордера*/
}

body {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  line-height: 1.29;
  letter-spacing: -0.02em;
  color: var(--color-primeri-darck);
  background-color: var(--color-light);
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

a {
  text-decoration: none;
}

ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

ul {
  list-style-type: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

button {
  cursor: pointer;
}

address {
  font-style: normal;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* 320px — гумова */
.container {
  width: 100%;
  padding: 0 16px;
  margin: 0 auto;
}

@media screen and (min-width: 375px) {
  .container {
    max-width: 375px;
    padding: 0 16px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
    padding: 0 32px;
  }
}
@media screen and (min-width: 1440px) {
  .container {
    max-width: 1440px;
    padding: 0 100px;
  }
}
