.userName {
  display: flex;
  align-items: center;
  font-weight: 500;
}

.userNameMenu {
  color: var(--color-white);
}

.userIconWrapper {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 36px;
  height: 36px;
  margin-left: 16px;
  border-radius: 100%;
  background-color: var(--color-green);
}

.userNameMenu .userIconWrapper {
  background-color: var(--color-white);
}

.userIcon {
  width: 20px;
  height: 20px;
  fill: var(--color-white);
}

.userNameMenu .userIcon {
  fill: var(--color-green);
}
