.sectionLoginPage,
.sectionRegisterPage {
  padding-top: 16px;
}
.wrapperLogoImgTag {
  margin-bottom: 43px;
}
.wrapperLogoImgTag.wrapperLogoImgTagRegister {
  margin-bottom: 0;
}

.wrapperImgMobile {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 12px;
  margin-bottom: 16px;
}
.wrapperImgMobile.wrapperImgMobileRegister {
  margin-bottom: 0;
}
.imgMobileMenu {
  max-width: 100%;
  height: auto;
  object-fit: contain;
}
.tagline {
  display: block;
  font-size: 14px;
  text-align: center;
  color: var(--color-tagline);
}
.wrapperFormBtn {
  border-radius: 25px 25px 0 0;
  width: 375px;
  background-color: var(--bg-header-table);
  margin: 0 auto;
  padding: 32px 16px 57px;
}
.title {
  font-weight: 600;
  font-size: 30px;
  line-height: 1.06667;
  letter-spacing: -0.02em;
  margin-bottom: 16px;
}
.textLoginPage {
  margin-bottom: 40px;
  color: var(--color-tagline);
}

.textLoginPage.textLoginPageRegister {
  margin-bottom: 16px;
}

@media screen and (min-width: 768px) {
  .sectionLoginPage,
  .sectionRegisterPage {
    position: relative;
    min-height: 100vh;
    padding-top: 24px;
    padding-bottom: 106px;
  }

  .wrapperLogoImgTag {
    margin-bottom: 140px;
  }
  .wrapperLogoImgTag.wrapperLogoImgTagRegister {
    margin-bottom: 140px;
  }
  .wrapperFormBtn {
    width: 628px;
    padding: 48px 64px;
    margin-bottom: 172px;
    border-radius: 30px;
  }
  .title {
    letter-spacing: -0.02em;
    margin-bottom: 20px;
    font-size: 40px;
    line-height: 1.2;
  }
  .textLoginPage {
    margin-bottom: 32px;
    font-size: 20px;
  }
  .textLoginPage.textLoginPageRegister {
    margin-bottom: 32px;
  }

  .taglineTable {
    font-size: 16px;
    display: block;
    text-align: center;
  }

  .wrapperBgVector {
    position: absolute;
    pointer-events: none;
    bottom: 0;
    right: 0;
  }
  .bgVector {
    width: 693px;
    height: 597px;
    display: block;
  }
}

@media screen and (min-width: 1440px) {
  .sectionLoginPage {
    padding-top: 24px;
    padding-bottom: 104px;
  }
  .sectionRegisterPage {
    padding-bottom: 80px;
  }
  .wrapperContent {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
  }
  .wrapperLogoImgTag {
    margin-bottom: 0;
  }
  .wrapperFormBtn {
    margin: 0;
  }
  .wrapperImgMobile {
    margin-top: 0;
  }
  .wrapperImgMobile.wrapperImgMobileRegister {
    margin-bottom: 16px;
  }

  .tagline {
    font-size: 16px;
  }
}
