.trainingRoom {
  position: relative;
  display: flex;
  flex-direction: column;
  background: var(--color-light-grey);
  margin-bottom: 114px;
}

.section,
.sectionAnswer {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  width: 100%;
  min-height: 196px;
  padding: 22px;
}

.sectionAnswer {
  border-radius: 8px 8px 0 0;
}

.section {
  border-radius: 0 0 8px 8px;
}

.sectionAnswer::after {
  content: "";
  position: absolute;
  left: 22px;
  right: 22px;
  bottom: 0;

  height: 1px;
  width: auto;
  background-color: #dbdbdb;

  transform: translateY(50%);
}

.visuallyHidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  white-space: nowrap;
  border: 0;
}

.fieldInput {
  padding: 0;
  border: none;
  border-bottom: 1px solid transparent;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  background: transparent;
  color: var(--color-dark);
  outline: none;
}

.fieldInput::placeholder {
  color: var(--color-dark);
}

.fieldError {
  margin-top: 6px;
  font-size: 12px;
  color: var(--color-input-error);
}

.taskWrap {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 12px;
  min-height: 152px;
}

.task {
  font-weight: 500;
  width: 63px;
  min-height: 24px;
}

.sectionFooter {
  margin-top: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nextButton {
  width: 64px;
  height: 24px;
  border: none;
  background: transparent;
  color: var(--color-text-statistics);
  font-size: 16px;
  font-weight: 500;

  display: inline-flex;
  align-items: center;
  gap: 8px;
  transition: color 0.3s ease;
}

.nextButton:focus-visible {
  color: var(--color-dark);
  outline: none;
}
.nextIcon {
  width: 20px;
  height: 20px;
  stroke: var(--color-green);
}

.languageTag {
  display: inline-flex;
  align-items: center;
  gap: 8px;
  margin-left: auto;
}

.languageTag span {
  font-size: 14px;
  font-weight: 500;
}

.languageIcon {
  width: 28px;
  height: 28px;
}

.mobileFooter {
  margin-top: auto;
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: center;
}

.saveButton {
  width: 100%;
  height: 56px;
  border-radius: 30px;
  border: none;

  background-color: var(--color-green);
  color: var(--color-white);

  font-size: 16px;
  font-weight: 700;

  transition: color 0.3s ease, background-color 0.3s ease;
}

.saveButton:focus-visible {
  background-color: var(--color-hover-btn);
  outline: none;
}
.cancelButton {
  border: none;
  background-color: transparent;
  color: var(--color-text-statistics);
  font-size: 16px;
  font-weight: 700;

  transition: color 0.3s ease, background-color 0.3s ease,
    border-color 0.3s ease;
}
.cancelButton:focus-visible {
  background-color: var(--color-hover-btn);
  color: var(--color-light-grey);
  border-color: var(--color-hover-btn);
  outline: none;
}
@media screen and (min-width: 768px) {
  .trainingRoom {
    padding: 18px;
    border-radius: 15px;
    margin-bottom: 58px;
  }

  .section,
  .sectionAnswer {
    min-height: 282px;
    background-color: var(--color-light-grey);
  }

  .sectionAnswer::after {
    left: 0;
    right: 0;
  }
  .fieldInput {
    font-size: 20px;
  }

  .task {
    font-size: 20px;
  }
  .languageIcon {
    width: 32px;
    height: 32px;
  }
  .languageTag {
    position: absolute;
    top: 22px;
    right: 22px;
    margin-left: 0;
  }
  .languageTag span {
    font-size: 16px;
  }

  .mobileFooter {
    flex-direction: row;
  }

  .saveButton,
  .cancelButton {
    width: 203px;
    height: 56px;
    font-size: 18px;
    line-height: 1.55;
  }

  .cancelButton {
    border: 1px solid var(--color-green);
    border-radius: 30px;
    color: var(--color-green);
  }
}

@media screen and (min-width: 1440px) {
  .trainingRoom {
    flex-direction: row;
    margin-bottom: 80px;
  }

  .sectionAnswer {
    min-height: 302px;
    border-radius: 8px 0 0 8px;
  }

  .section {
    min-height: 302px;
    border-radius: 0 8px 8px 0;
  }

  .sectionAnswer::after {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: auto;
    width: 1px;
    height: auto;
    background-color: #dbdbdb;
    transform: none;
  }
  .mobileFooter {
    margin-top: 0;
  }
  .saveButton:hover {
    background-color: var(--color-hover-btn);
  }
  .cancelButton:hover {
    background-color: var(--color-hover-btn);
    color: var(--color-light-grey);
    border-color: var(--color-hover-btn);
  }
  .nextButton:hover {
    color: var(--color-dark);
  }
}
