.tableWrapper {
  width: 100%;
  padding: 18px;
  background: var(--color-white);
  border-radius: 15px;
  overflow: hidden;
  margin-bottom: 28px;
}

.table {
  width: 668px;
  border-collapse: separate;
  border-spacing: 0;
  table-layout: fixed;
}

.headerWithIcon {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.headerIcon {
  width: 28px;
  height: 28px;
}

.table thead th {
  text-align: left;
  padding: 20px 10px 20px 22px;
  font-weight: 500;
  font-size: 18px;
  height: 69px;
  background-color: var(--bg-header-table);
  border-bottom: 1px solid #dbdbdb;
}

.table thead tr:first-child th:first-child {
  border-top-left-radius: 8px;
}

.table thead tr:first-child th:last-child {
  border-top-right-radius: 8px;
}

/* Додаємо вертикальні межі для заголовків */
.thWithBorder {
  border-right: 1px solid #dbdbdb;
}

/* Контейнер для прогресу */
.wrapperProgress {
  display: flex;
  align-items: center;
  gap: 8px;
  height: 100%;
}

.textProgress {
  font-size: 18px;
  font-weight: 500;
  min-width: 46px;
}

.dictionaryProgressBar {
  --progress-size: 24px;
  --progress-color: #2bd627;
  --progress-trail: #d4f8d3;
}

/* Стилі для клітинок */
.table tbody td {
  padding: 22px;
  font-size: 18px;
  font-weight: 500;
  background-color: var(--color-light-grey);
  height: 92px;
  border-bottom: 1px solid #dbdbdb;
  vertical-align: top;
  text-align: left;
}

/* Вертикальні межі для клітинок */
.tdWithBorder {
  border-right: 1px solid #dbdbdb;
}

.table tbody tr:last-child td {
  border-bottom: none;
}

/* Кнопка Add to dictionary */
.buttonAdd {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 120px;
  height: 41px;
  border: none;
  background-color: transparent;
}
.iconAdd {
  width: 20px;
  height: 20px;
  stroke: var(--color-green);
}

.textBtn {
  font-size: 14px;
}
.emptyBlock {
  width: 100%;
  text-align: center;
  padding: 40px 0;
  font-size: 20px;
  font-weight: 500;
  background-color: var(--color-normal-grey);
  color: var(--color-dark);
}
